<%= form_for(vibe) do |f| %>
  <% if vibe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vibe.errors.count, "error") %> prohibited this vibe from being saved:</h2>

      <ul>
      <% vibe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :cause_id %>
    <%= f.number_field :cause_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
