<p id="notice"><%= notice %></p>

<h1>Vibes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Cause</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vibes.each do |vibe| %>
      <tr>
        <td><%= vibe.user_id %></td>
        <td><%= vibe.cause_id %></td>
        <td><%= link_to 'Show', vibe %></td>
        <td><%= link_to 'Edit', edit_vibe_path(vibe) %></td>
        <td><%= link_to 'Destroy', vibe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vibe', new_vibe_path %>
