<div class="profile-info">
  <div class="avatar">
    <%= image_tag '/1.jpg' %>
    <div class="name">
      <%= @user.first_name %> <%= @user.last_name %>
    </div>
  </div>
  <div class="main-details clearfix">
    <div class="col">
      <div class="value">118</div>Causes
    </div>
    <div class="col">
      <div class="value">3,125</div>Vibes
    </div>
  </div>
</div> <!-- profile-info -->

<div class="profile-content">
  <div class="tabs">
    <ul>
      <li>
	<a href="#" class="active">Wall</a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab notes active">
      <%= render partial: "comments/form", locals: {commentable: @user} %>
      <div class="filter clearfix">
	<h4 class="pull-left">Recent Notes</h4>
      </div>
      <div class="comments">
	<% @user.comments.last(10).reverse.each do |comment| %>
	  <%= render partial: 'comments/comment', locals: {comment: comment} %>
	<% end %>
        
      </div>
    </div>
  </div>
</div> <!-- profile-content -->
