<%= form_for(cause) do |f| %>
  <% if cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%= f.text_field :title, placeholder: "Title", :class => "form-control" %>
    <%= f.text_area :description, placeholder: "Descrption", :class => "form-control" %>
  </div>

  <div class="actions">
    <button class="btn btn-default btn-lg" type="submit">Create Cause</button>
  </div>
<% end %>
