<div class="invoice-wrapper">
  <p id="notice"><%= notice %></p>
  <div class="well">
    <%= @cause.description %>
    <div class="row">
      <div class="col-sm-10"></div>
      <div class="col-sm-2">
	- <%= @cause.user.first_name %> <%= @cause.user.last_name %>
      </div>
    </div>
  </div>
<p>
  <strong>User:</strong>
  <%= @cause.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @cause.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cause.description %>
</p>

<%= link_to 'Edit', edit_cause_path(@cause) %> |
<%= link_to 'Back', causes_path %>

</div>
