<div class="invoice-wrapper">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-sm-9">
      <div class="well">
	<%= @cause.description %>
	<div class="row">
	  <div class="col-sm-9"></div>
	  <div class="col-sm-3">
	    - <%= @cause.user.first_name %> <%= @cause.user.last_name %>
	  </div>
	</div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row">
	<div class="col-sm-12">
	  <h3><%= @cause.vibes.count %> <small>Vibes</small></h3>
	</div>
      </div>
      <div class="row">
	<div class="col-sm-12">
	  <h3><%= time_ago_in_words(@cause.created_at) %> <small>ago</small></h3>
	</div>
      </div>
      <div class="row">
	<div class="col-sm-12">
	  <% if user_signed_in? && current_user.vibes_cause?(@cause) %>
	    <div class="alert alert-success" role="alert">
	      You supported this cause!
	    </div>
	  <% else %>
	    <%= form_for(@vibe) do |f| %>
	      <%= f.hidden_field :cause_id, value: @cause.id %>
	      <button class="btn btn-success btn-lg" type="submit">Support</button>
	    <% end %>
	  <% end %>
	</div>
      </div>
    </div>
  </div>

  <%= link_to 'Back', causes_path %>

  <div class="tab notes active">
    <div class="row">
      <div class="col-sm-9">
	<%= render partial: "comments/form", locals: {commentable: @cause} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <div class="comments">
	<% @cause.comments.last(10).reverse.each do |comment| %>
	  <%= render partial: "comments/comment", locals: {comment: comment} %>
	<% end %>
      </div>
    </div>
  </div>

</div>
