<div class="invoice-wrapper">
  <p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cause.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @cause.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cause.description %>
</p>

<%= link_to 'Edit', edit_cause_path(@cause) %> |
<%= link_to 'Back', causes_path %>

</div>
