<div class="content">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="fields">
      <%= f.text_field :email, autofocus: true, placeholder: "Email", :class => "form-control" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :class => "form-control" %>

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
	<%= f.label :remember_me %>
      <% end -%>
    </div>

    <div class="signup">
      <%= f.submit "Log in", :class => "btn btn-success btn-lg" %>
    </div>
  <% end %>
  <div class="info text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
